:root {
	/* Primary Colors */
	--accent-yellow: #fff012;
	--primary800: #700404;
	--primary500: #823838;
	--primary400: #934545;
	--primary300: #a45252;
	--primary200: #b56060;
	--primary100: #c66d6d;
	--primary50: #f0e1e1;
	--danger: #dc3545;
	--danger-hover: #c82333;
	--danger-background: #f8d7da;
	--success: #28a745;
	--success-hover: #24903d;
	--success-background: #bfeac9;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.baseButton {
	background-color: var(--primary800);
	color: var(--accent-yellow);
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	transition: background-color 0.3s ease;
}

.baseButton:hover {
	background-color: var(--primary500);
}

.baseButton:active {
	transform: translateY(1px);
}
